.App {
  text-align: center;
  margin: 5px;
}

.instructions {
  text-align: left;
}

.char {
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black;
}
